* {
  font-family: Verdana, Arial, system-ui, Helvetica, sans-serif;
}

.corner-border {
  --b: 5px; /* border thickness */
  --c: #0000 25%, #31ecfd 0; /* define the color here */
  padding: 10px;
  background: conic-gradient(from 90deg at top var(--b) left var(--b), var(--c))
      0 0,
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--c)) 100% 0,
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--c)) 0 100%,
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--c)) 100%
      100%;
  background-size: 50px 35px; /* adjust border length here */
  /* box-shadow: 0px 0px 5px 6px #50a5ad; */
  background-repeat: no-repeat;
  transition: 0.6s;
  cursor: pointer;
}

.img-corner-border {
  --b: 2px; /* border thickness */
  --c: #0000 25%, #31ecfd 0; /* define the color here */
  padding: 5px;
  background: conic-gradient(from 90deg at top var(--b) left var(--b), var(--c))
      0 0,
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--c)) 100% 0,
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--c)) 0 100%,
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--c)) 100%
      100%;
  background-size: 15px 10px; /* adjust border length here */
  background-repeat: no-repeat;
  transition: 0.6s;
  cursor: pointer;
}
