.breadcrumb {
  display: inline-block;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  color: #ffffff;
  /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
  counter-reset: flag;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: 600;
  line-height: 36px;
  color: white;
  padding: 0 10px 0 60px;
  background: #333;
  background: linear-gradient(#333, #111);
  position: relative;
  cursor: default;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
  left: 14px;
}
.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
  padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb a.active {
  background: #111;
  background: linear-gradient(#333, #111);
}
.breadcrumb a.active:after,
.breadcrumb {
  background: #222;
  background: linear-gradient(145deg, #333, #222);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -18px;
  width: 36px;
  height: 36px;

  transform: scale(0.707) rotate(45deg);

  z-index: 1;

  background: #555;
  /* background: linear-gradient(135deg, #777, #333); */

  box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4),
    3px -3px 0 2px rgba(255, 255, 255, 0.1);

  border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
  content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb a:before {
  content: counter(flag);
  counter-increment: flag;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  background: #333;
  background: linear-gradient(#333, #300);
  font-weight: bold;
}

.flat a,
.flat a:after {
  background: #0588e1;
  color: white;
  /* transition: all 0.7s; */
}
.flat a:before {
  background: #090909;
  color: #f9f8f8;
  box-shadow: 0 0 0 1px rgb(0, 0, 143);
}

.flat a.active {
  background: #0ec6fc;
}
